<ng-container *ngrxLet="threads$ as threads">
    <ng-container *ngIf="errors$ | async as e">
        <ion-item color="danger">
            <ion-label class="ion-text-wrap">{{e.type}}</ion-label>
            <ion-label class="ion-text-wrap">{{getErrorMessage(e.payload)}}</ion-label>
        </ion-item>
    </ng-container>
    <ion-list>
        
        <ion-item color="dark">
            <ion-header>
                <ion-label color="light">Threads</ion-label>
                <ion-item color="dark">
                    <ion-input placeholder="Thread Name..." [(ngModel)]="addThreadText"></ion-input>
                    <ion-icon class="add" color="primary" slot="end" name="add-circle" (click)="addThread()"></ion-icon>
                </ion-item>
            </ion-header>
        </ion-item>
        
        <ion-menu-toggle [autoHide]="false">
            <ion-item *ngIf="loading$ | async" color="dark">
                <ion-label color="light">Loading...</ion-label>
            </ion-item>
            <ng-container *ngFor="let thread of threads">
                <ion-item 
                    button 
                    class="toggle-button"
                    (click)="selectThread(thread)"
                    [color]="isSelected(thread.id) ? 'light' : 'dark'">
                    <ion-icon size="small" [name]="isSelected(thread.id) ? 'caret-down' : 'caret-forward'"></ion-icon>
                    <ion-icon size="small" [name]="isSelected(thread.id) ? 'folder-open' : 'folder'"></ion-icon>
                    <ion-label>{{thread.name}}</ion-label>
                    <ion-icon name="close-circle" color="danger" (click)="deleteThread(thread)"></ion-icon>
                </ion-item>
                <app-collections *ngIf="isSelected(thread.id)"></app-collections>
            </ng-container>
            <ion-item color="dark" *ngIf="!(loading$ | async) && threads.length === 0">
                <ion-label color="light">No Threads Found</ion-label>
            </ion-item>
        </ion-menu-toggle>
    </ion-list>
</ng-container>