<ion-app>
    <ion-split-pane when="md" contentId="main-content">
        <ion-menu contentId="main-content">
            <ion-header>
                <ion-toolbar color="dark" class="menu-header">
                    <ion-title><app-identity></app-identity></ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content color="dark">
                <app-threads></app-threads>
            </ion-content>
        </ion-menu>
        <div class="ion-page" id="main-content">
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-menu-toggle>
                            <ion-button>
                                <ion-icon slot="icon-only" name="menu"></ion-icon>
                            </ion-button>
                        </ion-menu-toggle>
                    </ion-buttons>
                    <app-editor-tabs></app-editor-tabs>
                </ion-toolbar>
            </ion-header>
            <ion-content color="dark" class="ion-padding" *ngrxLet="tab$ as tab">
                <app-json-editor *ngIf="tab === Tabs.json"></app-json-editor>
            </ion-content>
        </div>
    </ion-split-pane>
</ion-app>